<nav>
  <div class="nav-container">
    <button class="button search"><a href="#/profile" class="search"><i class="material-icons">perm_identity</i>Profile</a></button>
  </div>
  <div class="nav-container">
    <button class="button signin"><a href="#/signin">Sign in</a></button>
    <button class="button" ng-click="signout()">Signout</button>
    <button class="button inverse signup"><a href="#/signup">Sign up</a></button>
  </div>
</nav>

<div id="search" class="card">
  <h1>Find the perfect roommate</h1>
  <p class="body-text">We’ll match you to a neighborhood and roommate based on your interests.</p>
  <div class="form-hr">
    <div class="form-section">
      <h2>Apartment must-haves:</h2>
      <span class="label">City:<input type="text" ng-model="location" placeholder="San Francisco" value="San Francisco" disabled></span>
      <span class="label">Budget:<input type="text" ng-model="budget" placeholder="$2000"></span>
      <span class="label checkbox-label">Amenities:</span>
      <span class="aside">* check what's necessary</span>
      <ul class="optionLists">
        <li class="checkbox"><input type="checkbox" ng-model="options.furnished"> Furnished</li>
        <li class="checkbox"><input type="checkbox" ng-model="options.laundryInUnit"> Laundry</li>
        <li class="checkbox"><input type="checkbox" ng-model="options.pets"> Pets</li>
        <li class="checkbox"><input type="checkbox" ng-model="options.nonSmoking"> Non-smoking</li>
      </ul>
    </div>
    <div class="form-section">
      <h2>A bit about yourself:</h2>
      <span class="label checkbox-label">I want to live near:</span>
      <span class="aside">* separate multiple items with commas</span>
      <span class="options-field"><input type="text" ng-model="term" placeholder="Library, cafe, indian food..."></span>
      <span class="label checkbox-label">Hobbies:</span>
      <span class="aside">* separate multiple items with commas</span>
      <span class="options-field"><input type="text" ng-model="hobbies" placeholder="Tennis, boardgames..." disabled></span>

    </div>

  </div>

  <button class="button centered" ng-click="search()">Search</button>
  <!--  <div class="moreOptions" ng-click="hideMe()">more options?</div> -->
</div>
